<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS 
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    -->
    <!--MUICSS-->
    <link href="//cdn.muicss.com/mui-0.10.3/css/mui.min.css" rel="stylesheet" type="text/css" />
    <script src="//cdn.muicss.com/mui-0.10.3/js/mui.min.js"></script>
    
    <!--Title-->
    <title>This is our site</title>
</head>
<body>
    <div class="mui-panel">
        <a href={{ url_for('index') }}><button class="mui-btn mui-btn--primary">Home</button></a>
        <a href={{ url_for('hundred_days') }}><button class="mui-btn mui-btn--primary">100 Days</button></a>
        <a href={{ url_for('table') }}><button class="mui-btn mui-btn--primary">table</button></a>
        <a href={{ url_for('advice') }}><button class="mui-btn mui-btn--primary">Advice</button></a>
        <a href={{ url_for('joke') }}><button class="mui-btn mui-btn--primary">Joke</button></a>
        
    </div>
    <div class="mui-container">
    {% block content %}
    <!-- Template inherited children contents goes in here -->
    {% endblock %}
    </div>

    <!--  Bootstrap JS
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
    -->
    </body>
</html>
